@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "poppins" , sans-serif;
  }
}
@font-face {
  font-family: 'Beckman';
  src: url('./Font/beckman.otf');
}
@font-face {
  font-family: 'mova';
  src: url('./Font/mova.otf');
}
@font-face {
  font-family: 'arenq';
  src: url('./Font/arenq.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style:  none;

}
body {
  background-color: #000;
}

.bounce {
  transition: all 0.3s ease-out;
}

.bounce:hover {
  display: inline-block;
  animation: rubberband 0.8s ease-out;
  color: #FF0000;
}
@keyframes rubberband {
  0% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(1.12) scaleY(0.75);
  }
  55% {
    transform: scaleX(0.85) scaleY(1);
  }
  65% {
    transform: scaleX(1.09) scaleY(0.85);
  }
  75% {
    transform: scaleX(0.9) scaleY(1);
  }
  90% {
    transform: scaleX(1.05) scaleY(0.95);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}